.comments  #feedback_kupiapp{
    background: gold !important;
    border-radius: 20px !important;
}
@media screen and (max-width: 800px) {
    .comments  #feedback_vk{
        width: 700px !important;
    }
}
@media screen and (max-width: 700px) {
    .comments  #feedback_vk{
        width: 600px !important;
    }
}
@media screen and (max-width: 600px) {
    .comments  #feedback_vk{
        width: 500px !important;
    }
}
@media screen and (max-width: 500px) {
    .comments  #feedback_vk{
        width: 400px !important;
    }
}
@media screen and (max-width: 400px) {
    .comments  #feedback_vk{
        width: 300px !important;
    }
}
@media screen and (max-width: 300px) {
    .comments  #feedback_vk{
        width: 200px !important;
    }
}
